:root {
  --season-color: tan;
}

body {
  background: var(--season-color);
}

#flock {
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

#hand {
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

#decks {
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}


/* spread the hand of cards */
#hand > .card:nth-child(1) {
 transform: translate(2.5em, 1.75em) rotate(-25deg);
}

#hand > .card:nth-child(2) {
 transform: translate(1em, .4em) rotate(-10deg);
}

#hand > .card:nth-child(3) {
 transform: translate(0em, 0em) rotate(0deg);
}

#hand > .card:nth-child(4) {
 transform: translate(-1em, .4em) rotate(10deg);
}

#hand > .card:nth-child(5) {
 transform: translate(-2.5em, 1.75em) rotate(25deg);
}